.outerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1d;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ffffff;
  padding: 0;
  border-radius: 8px;
  height: 60%;
  width: 35%;
  /* margin-left: 20px; */
  margin:0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
